<div class="container">
  <div class = "text-center">
    <h3>
    <%= @question %>
    </h3>
    <p>-- You</p>
  </div>


  <div class = "text-center">
    <h3>
      <%= @answer %>
    </h3>
    <p>-- Your coach</p>
  </div>


  <div class="text-center"><%= link_to "ask a new question", '/' %></div>
</div>
