<div class="text-center">

  <form action="<%= answer_path %>">

      <label for="question">Speak to your coach</label>
      <div class=" form-group input-lg">
        <input type="text" id="question" name="query" placeholder="what time is it?">
      </div>

    <input type="submit" class = "btn btn-primary btn-lg" value="Go on!">
  </form>
</div>
